<div class="container">
    <div class="col-sm-6">
        <form action="" method="POST" role="form">
            <legend>YOUR INFO</legend>

            <div class="form-group">
                <label for="">First Name</label>
                <input type="text" class="form-control" id="firstname" ng-model="infoCtrl.firstName">
            </div>
            <div class="form-group">
                <label for="">Last Name</label>
                <input type="text" class="form-control" id="lastname" ng-model="infoCtrl.lastName">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control" id="email" ng-model="infoCtrl.email">
            </div>
            <div class="form-group">
                <label for="">Phone</label>
                <input type="tel" class="form-control" id="phone" ng-model="infoCtrl.phone">
            </div>
            <div class="form-group">
                <label for="">Favourite Dish</label>
                <input type="text" class="form-control" id="favdish" ng-model="infoCtrl.favDish">
            </div>
        </form>
    </div>
</div>
